<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:replace="android:appComponentFactory">
        <activity android:name=".DatabaseResultActivity" android:exported="true"></activity>
        <activity android:name=".MarkerResultActivity" android:exported="true"></activity>
        <activity android:name=".TestGetServerActivity" android:exported="true"></activity>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBF85cdonfgCacLxNqDtaWm72nJi5auBtE" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="ka455976zg"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.flatload.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
<!--        <meta-data-->
<!--            android:name="com.kakao.sdk.AppKey"-->
<!--            android:value="KAKAO_MAP_KEY"/>-->
<!--        <meta-data-->
<!--            android:name="com.mapbox.token"-->
<!--            android:value="pk.eyJ1Ijoiam5heW91bmciLCJhIjoiY200ZDBoYnFhMGVyYzJxcHlpMzJsazkwcyJ9.pXN5O0vw-xujAuUf7_cgiw" />-->

    </application>

</manifest>